#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.barra-sugerencia {
 
  background: #eeeeee;
  padding: 12px 20px;
  font-size: 16px;
  font-family: monospace;
  border-top: 1px solid #ccc;
  text-align: center;
  color: #333;
  z-index: 9999;
  cursor: pointer;
  user-select: none;
}
// .barra-sugerencia {
//   position: fixed;
//   bottom: 0;
//   left: 0;
//   right: 0;
//   background: #eeeeee;
//   padding: 12px 20px;
//   font-size: 16px;
//   font-family: monospace;
//   border-top: 1px solid #ccc;
//   text-align: center;
//   color: #333;
//   z-index: 9999;
//   cursor: pointer;
//   user-select: none;
// }